
<div >
    <nav >
        <ul >

            <h3>Categories</h3>
            <li *ngFor="let temp of productCategories" >
                <a routerLink="/category/{{temp.id}}" routerLinkActive="active-link" class="icons">

                    
                    <img *ngIf="temp.id===1" src="\assets\images\coatt.png">
                    <img *ngIf="temp.id===2" src="\assets\images\shoes.png">
                    <img *ngIf="temp.id===3" src="\assets\images\trousers.png">
                    <img *ngIf="temp.id===4" src="\assets\images\womanshoes.png">
                    <img *ngIf="temp.id===5" src="\assets\images\makeup.png">
                    <img *ngIf="temp.id===6" src="\assets\images\necklaces.png">
                    <img *ngIf="temp.id===7" src="\assets\images\rings.png">
                    <img *ngIf="temp.id===8" src="\assets\images\bracelets.png">
                    <img *ngIf="temp.id===9" src="\assets\images\electronics.png">
                    <img *ngIf="temp.id===10" src="\assets\images\gadgets.png">
                    <img *ngIf="temp.id===11" src="\assets\images\cameras.png">
                    


                    {{temp.categoryName}} 
                
                    
                </a>
                
            </li>
           
        </ul>
    </nav>
</div>
